canvas {
  border: 1px solid silver;
}

h1 {
	text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

.action{
	cursor: pointer;
	border: 2px solid transparent;
}

.action.active,
.action:hover{
	border-color: rgba(28,38,227,1);
}

.menu-area {
	border: 3px solid rgb(109, 109, 109);
  }
